<mat-toolbar class="header" color="primary">
  <ul>
    <li>
      <a color="'primary'" routerLink="/data-binding">Data-Binding</a>
    </li>
    <li>
      <a routerLink="/directivas">Directivas</a>
    </li>
    <li>
      <a routerLink="/input-output">Input | Output</a>
    </li>
    <li>
      <a routerLink="/hooks">Hooks</a>
    </li>
    <li>
      <a routerLink="/pipes">Pipes</a>
    </li>
    <li>
      <a routerLink="/forms">Formulários</a>
    </li>
    <li>
      <a routerLink="/services">Services</a>
    </li>
    <li>
      <a routerLink="/singleton">Singleton Pattern</a>
    </li>
  </ul>
</mat-toolbar>
